.Main {
  border: 4px solid #000000;
  background-color: cornflowerblue;
  width: 864px;
  height: 864px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Box {
  width: 288px;
  height: 288px;
  border: 4px solid #000000;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.Box2 {
  width: 96px;
  height: 96px;
  border: 4px solid #000000;
  background-color: black;
}
